<!DOCTYPE html>
<html>
<head>
	@@include("partials/head.html", {
		"title": "图书预约"
	})
	<script src="js/reserve.js"></script>
</head>
<body>
	@@include("partials/nav.html")
	<div class="container" id="app">
		<br>
		@@include("partials/alerts.html")
		<div v-if="!isAdmin">
			<div class="row" style="margin-top: 10px">
				<div class="form-group col-6">
					<label for="ISBN">ISBN</label>
					<input class="form-control" id="ISBN" v-model="ISBN">
				</div>
				<div class="form-group col-6">
					<label for="username">用户名</label>
					<input class="form-control" id="username" v-model="username">
				</div>
			</div><br><br>
			<button type="button" class="btn btn-outline-dark btn-lg" style="display: block; width: 100%; max-width: 600px; margin: auto" v-on:click="addReserve">发送预约请求</button><br><br>
		</div>

		<div id="reservelist">
			<table class="table table-bordered" v-if="list.length">
			  <thead>
			    <tr>
			      <th scope="col">ISBN</th>
			      <th scope="col">时间</th>
			      <th scope="col">预约人</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr v-for="item in list">
			    	<td>{{item.ISBN}}</td>
			    	<td>{{item.reserve_date}}</td>
			    	<td>{{item.uid}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</body>
</html>