html, body{
	font-size: small;
	margin: 0;
	height: 100%;
}
#sidebar{  /*左边栏*/
	box-sizing: border-box;
	background: no-repeat url(images/background.jpg);
	background-size: cover;
	width: 30%;
	padding: 15px;
	font-size: 105%;
	float: left;
	height: 100%;
	background-color: #aadddd;
	text-align: center;
	color: white;

}


#username{
	font-size: 250%;
	margin-top: 50%;
}

#lookupBook{   /*右边栏*/
	box-sizing: border-box;
	float:  right;
	font-size: 105%;
	width:  70%;
	padding: 15px;
	text-align: center;
	height: 100%;

}


#contents{   /*有边框元素*/
	margin-top: 5%;
}


#select{ /*下拉框*/
	padding:		10px 7px;
	width: 		50px;
	border:		1px solid #c0c0c0;
	height:		20px;
	font:			12px arial;
	margin:  		10px auto;
	border-radius:	8px;
	outline: 		none;
}


.text{  /*字段输入框*/
	padding:		10px 7px;
	width: 		200px;
	border:		1px solid #c0c0c0;
	height:		12px;
	font:			12px arial;
	margin:  		10px auto;
	border-radius:	8px;
	outline: 		none;
}


#lookup{  /*查询按钮*/
	cursor: 		pointer;
	width: 		80px;
	height: 		30px;
	font:			12px arial;
	color:			white;
	border:		1px solid #c0c0c0;
	border-radius: 	8px;
	background-color: 	#38f;
	margin:		8px auto;
	outline:		none;
}

.text #lookup #select{
	display:inline-block;
}



#results{  /*查询结果框*/
	background-color: #FFFFFF;
	height: 80%;
	text-align: center;
}

input::-webkit-input-placeholder{text-align: center;}
