<!DOCTYPE html>
<html>
<head>
	<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport"
      content="width=device-width, initial-scale=1">
<title>图书馆 | 借书还书</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<link rel="icon" type="image/png" href="img/library.ico">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="stylesheet" href="vendor/bootstrap.min.css">
<link rel="stylesheet" href="css/nav.css">
<script src="vendor/jquery.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="vendor/vue.js"></script>
<script src="js/util.js"></script>
<script src="js/settings.js"></script>
<script src="js/nav.js"></script>

	<script src="js/process.js"></script>
</head>
<body>
	<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">图书馆管理系统</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul v-if="isStu" class="navbar-nav mr-auto">
      <li v-for="item in stuNav" :class="{'nav-item':1, 'active':isCurrent(item.link)}">
        <a class="nav-link" :href="item.link">{{item.name}}</a>
      </li>
    </ul>
    <ul v-if="isAdmin" class="navbar-nav mr-auto">
      <li v-for="item in adminNav" :class="{'nav-item':1, 'active':isCurrent(item.link)}">
        <a class="nav-link" :href="item.link">{{item.name}}</a>
      </li>
    </ul>
    <span class="navbar-text">
      {{sentences[Math.floor(Math.random()*sentences.length)]}}
    </span>
  </div>
</nav>
	<div class="container" id="app">
		<br>
		<div id="alerts">
	<div class="alert alert-primary" role="alert">

	</div>
</div>
		<div v-if="isAdmin">
			<div class="row" style="margin-top: 10px">

				<div class="form-group col-6">
					<label for="selectt">服务</label>
					<select class="form-control" id="selectt" v-model="select">
						<option value="lendbook">借书</option>
						<option value="returnbook">还书</option>
					</select>
				</div>
				<div class="form-group col-6">
					<label for="userId">学号</label>
					<input class="form-control" id="userId" v-model="userId">
				</div>
				<div class="form-group col-6">
					<label for="isbn">ISBN</label>
					<input class="form-control" id="isbn" v-model="isbn">
				</div>
			</div><br><br>
			<button type="button" class="btn btn-outline-dark btn-lg" style="display: block; width: 100%; max-width: 600px; margin: auto" v-on:click="addProcess">提交</button><br><br>
		</div>
		<div id="booklist">
			<table class="table table-bordered" v-if="list.length">
			  <thead>
			    <tr>
			      <th scope="col">ISBN</th>
			      <th scope="col">书名</th>
			      <th scope="col">作者</th>
			      <th scope="col">价格</th>
			      <th scope="col">类别</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr v-for="item in list">
			    	<td>{{item.ISBN}}</td>
			    	<td>{{item.bname}}</td>
			    	<td>{{item.author}}</td>
			    	<td>{{item.price}}</td>
			    	<td>{{item.book_type}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</html>